.wrapper {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $black-white-white;
}

.wrapperRight {
    border-radius: 48px 0px 0px 48px;
    background-color: #FFF;
    padding: 146px 76px 40px 64px;
}

.title {
    color: $dark-blue;
    margin-bottom: 40px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.792px;
}

.number {
    position: relative;
    display: flex;
    border-radius: 50%;
    align-items: center;
    padding: 12px;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #0067F4;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.006em;
}


.number:not(:last-child)::before {
    position: absolute;
    top: 24px;
    left: 52px;
    background:  #0067F4;
    width: 487px;
    // width: 100%;
    height: 4px;
    content: "";
}