.wrapper {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $black-white-white;
}

.wrapperLeft {  
    padding-left: 36px;
}

.subtitle {
    text-align: center;
    color: $light-blue;
    margin-bottom: 28px;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.168px;
}

.wrapperRight {
    border-radius: 48px 0px 0px 48px;
    background-color: #FFF;
    padding: 146px 76px 40px 64px;
}

.title {
    color: $dark-blue;
    margin-bottom: 40px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.792px;
}

.number {
    position: relative;
    display: flex;
    border-radius: 50%;
    align-items: center;
    padding: 12px;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #0067F4;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.006em;
}

.number::before {
    
}

.number:not(:last-child)::before {
    position: absolute;
    top: 24px;
    left: 52px;
    background:  #0067F4;
    width: 487px;
    // width: 100%;
    height: 4px;
    content: "";
  }

.formWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.inputWrapper {
    padding-left: 12px;
    display: flex;
    align-items: center;
    display: flex;
    border: 1px solid #6E8BB74D;
    background: #FFF;
    border-radius: 8px;
}

.label {
    margin-right: 0;
    margin-bottom: 8px;
    color: #1A2024;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

.input {
    width: 532px;
    padding: 12px;
    border-radius: 8px;
    margin-left: 12px;
    border: none;
    background-color: transparent;
}

.btnEye {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

.rememberMe {
    margin-left: 16px;
    color: $grey;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.006em;    
}

.ForgotPassword {
    text-decoration: underline;
    color: $link-blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.006em;    
}

.btnSubmit {
    cursor: pointer;
    background-color:  $link-blue;
    border: none;
    border-radius: 8px;
    padding: 12px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.006em;
}

.registerLink {
    cursor: pointer;
    background-color:  transparent;
    border: 1px solid #6E8BB74D;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    color: $link-blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.006em;
}

.textCopy {
    display: inline-block;
    margin-top: 100px;
    color: #6E8BB7;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
}

.link {
    margin-top: 14px;
    margin-bottom: 20px;
    color: #535353;
    padding: 12px;
    border-radius: 8px;
    background-color: #F4F4F4;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.006em;
    text-align: center;
}