.wrapper {  
    max-width: 732px;
    width: 100%;
}

.title {
    text-align: center;
    color: $light-blue;
    margin-bottom: 28px;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.168px;
}

@include breakpoint-down(750px) {
    .wrapper {
        display: none;
    }
}

