.form {
    max-width: 550px;
    margin-top: 4px;
}

.wrapper {
    border: 1px solid #EBEDEE;
    border-radius: 8px;
    padding: 18px;
}

.content {
    margin-top: 24px;
}

.title {
    position: relative;
    margin-bottom: 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px; 
}

.title::after {
    position: absolute;
    bottom: -12px;
    left: -18px;
    width: 550px;
    height: 1px;
    background-color: #EBEDEE;
    content: '';
}

.wrapperBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}