.table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #E5E9EB;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  border-bottom: 1px solid #E5E9EB;
}
