.table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $icon-color;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
  border-right: 1px solid $icon-color;
  border-bottom: 1px solid $icon-color;
}
