.headerWrap {
  display: flex;
  gap: 60px;
  margin-top: 14px;
  padding: 30px;
}
.headerIcons {
  margin-top: -210px;
  display: flex;
  gap: 20px;
}
.headerIcons button {
  color: transparent;
}

.headerPart1 {
  width: 922px;
  height: 190px;
}
.haderText {
  padding: 28px;

  width: 922px;
  height: 203px;
  background-color: #403ef5;
  border-radius: 24px;
  padding: 32px, 16px, 32px, 32px;
}
.kindSpheres {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.AboutINformation {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}
.btn {
  width: 124px;
  height: 44px;
  border-radius: 6px;
  padding: 20px, 24px, 12px, 24px;
  margin-top: 40px;
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  color: #403ef5;
}
