.wrapper {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $black-white-white;
}

.wrapperRight {
    border-radius: 48px 0px 0px 48px;
    background-color: #FFF;
    padding: 146px 76px 40px 64px;
}

.title {
    color: $dark-blue;
    margin-bottom: 40px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.792px;
}

.ForgotPassword {
    text-decoration: underline;
    color: $link-blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.006em;    
}

