.sidbarTop {
  font-family: Inter;
  width: 233px;
  position: fixed;
  height: 100vh;
  padding: 25px;
  border-right: 1px solid #f5ebeb;
  background-color: #fff;
}

.LMS {
  font-size: 20px;
  color: #403ef5;
  font-weight: 600;
  line-height: 24px;
}
.sidbarCours {
  display: flex;
  gap: 10px;
  padding-top: 30px;
}
.sidbarCours p {
  font-size: 15px;
  color: #9a9a9a;
}
.sidbarCours :hover {
  font-size: 20px;
  color: #5755f1;
  transition: 0.5s;
}
.sidbarExzam :hover {
  font-size: 20px;
  color: #5755f1;
  transition: 0.5s;
}
.sidbarExzam {
  display: flex;
  padding-top: 20px;
  gap: 10px;
}
.sidbarExzam p {
  font-size: 15px;
  color: #9a9a9a;
}
.line {
  margin-top: 30px;
  border-bottom: 1px solid #f5ebeb;
  width: 233px;
  margin-left: -25px;
}

///
.FooterWraper {
  display: flex;
  text-align: center;
  gap: 10px;
}
.SaidbarFooterWrap {
  border-top: 1px solid #f5ebeb;
  border-right: 1px solid #f5ebeb;
  width: 208px;
  margin-top: 590px;

  padding-top: 10px;
  background-color: #fff;
}
.userImgWrap {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 25px;
  height: 25px;
}
.userImgWrap img {
  width: 20px;
  width: 20px;
}
.userName {
  font-size: 15px;
  color: #2b86f1;
  margin-top: 3px;
}
.btn {
  color: transparent;
  margin-top: 3px;
}
