.header {
  font-family: Inter;
  padding: 10px 0;
  border-bottom: 1px solid #E5E9EB;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.searchInput {
  margin-right: 18px;
}

.btnAdd {
  margin-left: 18px;
}