.sidebar {
  font-family: Inter;
  width: 280px;
  height: 100vh ;
  padding: 2px;
  border-right: 1px solid #E5E9EB;
  background-color: #fff;
}

.logo {
  color: #403EF5;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
}

.sidebarBtn {
  position: relative;
  border-radius: 6px;
  padding: 4px;
  width: 32px;
  height: 32px;
  border: 1px solid #E5E9EB;
  z-index: 10;
}

.sidebarBtn span {
  position: absolute;
  width: 12px;
  height: 2px;
  left: 8px;
  top: 10px;
  border-radius: 1px;
  background: #0067F4;
  transition: transform .5s, opacity .5s;
}

.sidebarBtn span:nth-child(1) {
  transform: translateY(-4px);
}

.sidebarBtn span:nth-child(2) {
  width: 8px;
}

.sidebarBtn span:nth-child(3) {
  transform: translateY(4px);
}

.leftArrow span {
  position: absolute;
  left: 12px;
  top: 10px;
  width: 8px;
  height: 2px;
}

.leftArrow span:first-child {
  transform: rotate(45deg);
}

.leftArrow span:nth-child(2) {
  transform: rotate(-45deg);
}

.navItem:first-child {
  margin-top: 12px;
}

.navItem:not(:last-child) {
  margin-bottom: 12px;
}

.navLink {
  display: flex;
  align-items: center;
}

.navText {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;  
  margin-left: 12px;
}