.link {
    margin-top: 14px;
    margin-bottom: 20px;
    color: $step-grey;
    padding: 12px;
    border-radius: 8px;
    background-color: $link-blue;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.006em;
    text-align: center;
}