
.wrapper {  
    padding-left: 36px;
}

.title {
    text-align: center;
    color: $light-blue;
    margin-bottom: 28px;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.168px;
}

